/* 在style.css文件中添加以下CSS */

/* 设置表格单元格的文本居中 */
#managers-table td {
    text-align: center;
    padding: 10px; /* 为每个单元格添加内边距 */
}

/* 设置表格每一行之间的间距 */
#managers-table tr {
    margin-bottom: 10px; /* 为每一行底部添加间距 */
}


body {
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#managers-table {
    width: 100%;
    border-collapse: collapse;
}

#managers-table th {
    background-color: #555;
    color: white;
    text-align: center;
}

#managers-table tr {
    text-align: right;
}

#managers-table tr.gender-m td {
    background-color: blue;
}

#managers-table tr.gender-f td {
    background-color: red;
}

#managers-table tr:hover {
    background-color: #333;
}

